@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap');
body {
    background-color: rgb(74, 106, 129);
    font-family: 'Poppins', sans-serif;
}

#navBar{
    width: 90%;
    height: 7%;
    padding: 0.3% 5%;
    margin-bottom: 2%;
    border-bottom: 1px ridge;  
    
}
#chatBox{
    position: relative;
    height: 70vh;
    width: 50vw;
    border: 1px ridge;
    margin: 1px auto;
    border-radius: 5px;
    background-color: rgb(200, 207, 212);            
}
#formInput{
    /* display: flex;
    flex-direction: row; */
    padding: 2% 5%;
    width: 90%;
    position: absolute;
    bottom: 0;
    background-color: rgb(200, 207, 212);
}
#chatSpace{
    /* position: relative; */
    display:grid;
    grid-template-columns: 1fr;
    padding: 1%;
    padding-bottom: 5;
    margin-top: 5%;
    height: 80%;
    /* max-height: 88%; */
    background-color: aliceblue;
    overflow-y: scroll;

}
.botParag{
    position: absolute;
    left:0;
    width: 60%;
    background-color: rgb(56, 97, 126);
    border-radius: 7px;
    border-bottom-left-radius: 0px;
}
.userParag{
    position: absolute;
    left:0;
    width: 60%;
    background-color: rgb(200, 207, 212);
    border-radius: 7px;
    border-bottom-left-radius: 0px;
}

#inputField{
    flex-grow: 2;
    width: 73%;
    height: 2rem;
    font-size: large;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#submitButton{
    height: 2.4rem;
    font-size: large;
}


/* Styles for screens that are 900px or less*/
@media screen and (max-width: 900px) {
    #chatBox{
        height: 80vh;
        width: 95vw;
    }
}
